<!DOCTYPE html>
<html>
<head>
  <title>User Data Form</title>
</head>
<body>
  <h1>User Data Form</h1>
  <form method="POST" action="/add_goals" >
      <label for="goalID">goalID:</label>
    <input type="text" id="goalID" name="goalID" required><br><br>

    <label for="goalName">goalName:</label>
    <input type="text" id="goalName" name="goalName" required><br><br>

     <label for="goalType">goalType:</label>
    <input type="text" id="goalType" name="goalType" required><br><br>

    <label for="goalBeginDate">goalBeginDate:</label>
    <input type="text" id="goalBeginDate" name="goalBeginDate" required><br><br>


    <label for="goalEndDate">goalEndDate:</label>
    <input type="text" id="goalEndDate" name="goalEndDate" required><br><br>

    <label for="goalUrl">goalUrl:</label>
    <input type="text" id="goalUrl" name="goalUrl" required><br><br>


      <label for="goalImageUrl">goalImageUrl:</label>
    <input type="text" id="goalImageUrl" name="goalImageUrl" required><br><br>

    <label for="goalDescription">goalDescription:</label>
    <input type="text" id="goalDescription" name="goalDescription" required><br><br>

    <label for="isPaid">isPaid:</label>
    <input type="text" id="isPaid" name="isPaid" required><br><br>

    <label for="category">category:</label>
    <input type="text" id="category" name="category" required><br><br>

    <label for="goalStatus">goalStatus:</label>
    <input type="text" id="goalStatus" name="goalStatus" required><br><br>

    <label for="archived">archived:</label>
    <input type="text" id="archived" name="isPaid" archived><br><br>

    <label for="sharedInfo">sharedInfo:</label>
    <input type="text" id="sharedInfo" name="isPaid" sharedInfo><br><br>









    <input type="submit" value="Submit">
  </form>
</body>
</html>